@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Open Sans_bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans_regular";
    src: url("fonts/OpenSans-Regular.ttf");
}

body {
    background-color: rgb(255, 208,0);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
}

.page {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
    min-width: 150px;


}



a {
    color: rgb(255, 208,0);
    background-color: maroon;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    width: 32%;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;

}
a:hover
    {background-color: rgb(255, 208,0);
    color: maroon;
}
.card{
    background-color: #f1e2b0;

    margin: 20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px #8d8d8d;
    overflow: auto;
    display: flex;
  

}

.card-img {
    width: 20%;
    justify-content: right;

}

.card-text{
    margin-left: 10px;
    width: 80%;
    
    
}

img {
    width: 80%;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
       
}

table {
    width: 100%;
}

th {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #28a745;
    font-style: italic;
    text-align: center;
    background-image: url(/Sprint3/Story2_task/Etlap/img/hamburger-graphics-small.jpg);
    background-repeat: no-repeat;
}

tbody tr:nth-child(odd) {
    background-color:#f1e2b0 ;
}

tbody tr:nth-child(even) {
    background-color: #faeec8;
}
td {
    
    line-height: 1.5em;
    font-size: 20px;
    
}

.theader{
    background-image: url("/Sprint3/Story2_task/Etlap/img/hamburger-graphics-small.jpg");
    background-repeat: no-repeat;
    background-position: right;
}



h1 {
    font-family: 'Open Sans_bold' ;
    font-size: 40px;
    color: maroon;
    font-variant: small-caps;
}

h2 {
    font-family: 'Open Sans_regular' ;
    font-size: 30px;
    color: maroon;
    font-variant: small-caps;
}