@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Open Sans_bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans_regular";
    src: url("fonts/OpenSans-Regular.ttf");
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
}

th {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #28a745;
    font-style: italic;
    text-align: center;
}

td {

    font-size: 20px;
}

h1 {
    font-family: 'Open Sans_bold' ;
    font-size: 40px;
    color: maroon;
    font-variant: small-caps;
}

h2 {
    font-family: 'Open Sans_regular' ;
    font-size: 30px;
    color: maroon;
    font-variant: small-caps;
}